Allow $ref to use `../`  for reference to parent directory file

Dir structure:
```
├── fileA.yml
├── folderB
│   └── fileB.yml
```

From `fileB.yml` the validator does not permit usage of  `$ref: ../fileA.yml#/items/id` . 
It works fine without the `../` in the beginning though. 

This would allow the openapi spec v3 files to be rendered on the browser using swagger-ui tool. 

@riddhi89 I tried the case and it works fine for me. Make sure you pass correct `spec_url`argument that points to `fileB.yml`

Thanks @p1c2u for the reply! 

In my case, the `spec_url`  starts from the parent folder.
Here is a more clear/exact depiction of my scenario:

**Dir structure:**
```
├── docs
│   ├── client
│   │   ├── openapi.yml
│   │   ├── fileA.yml
│   │   ├── folderB
│   │   │   └── fileB.yml
```

`spec_url` points to `docs/client/openapi.yml`:
In `openapi.yml`:  `$ref: folderB/fileB.yml#/items/id`
In `fileB.yml`:  `$ref: ../fileA.yml#/items/id`

Error seen: `No such file or directory: '/docs/fileA.yml'>`   (../ should be taking it to the `client` folder)

It works fine without the `../` in the beginning. 

FYI: Here is the response from the Swagger-UI team about the reference resolution: 
https://github.com/swagger-api/swagger-ui/issues/4091

@riddhi89 ah yeah I see your case now. That's correct resolution behaviour is RFC standard. Nothing much we can do.

Since resolution behavior follows the RFC standard, then the following resolution should be supported by `openapi-spec-validator` as is also supported in `swagger-ui`:

As per [RFC 3986 Section 5.4.1](https://tools.ietf.org/html/rfc3986#section-5.4.1):
```
Base URI: http://a/b/c/d
"../g"          =  "http://a/b/g"
```

Comparing the same to the dir structure i have:
```
├── docs
│   ├── client
│   │   ├── openapi.yml
│   │   ├── fileA.yml
│   │   ├── folderB
│   │   │   └── fileB.yml
```

```
1. spec_url:  docs/client/openapi.yml  (base_uri after step 1)
2. folderB/fileB.yml =  docs/client/folderB/fileB.yml (base_uri after step2)
3. ../fileA.yml = docs/client/fileA.yml  (base_uri after step3)
```

It seems like in `openapi-spec-validator` the `base_uri` is always stuck at the initial `spec_url` initialization and does not change on traversal to folderB. 

This behavior makes it difficult to use the openapi-spec-validator for the above dir structure with other openapi-v3 tools like swagger-ui (which supports the above directory structure). 




@riddhi89 you're right. Looks like scope stack isn't passed correctly.

Thank you for the fix @p1c2u ! I tried with the latest version and it works great 👍 